<div class="app-section-title">
    <h2>Administración</h2>
    <a href="/admin/productos">Ver Productos</a>
    <a href="/admin/productos/crear">Crear un producto</a>
    <a href="/admin/preguntas">Ver preguntas</a>
</div>