.app-form-input-labels input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.6rem;
}

.app-form-input-labels__content {
    margin-top: 0.6rem;
    resize: none;
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    outline: none;
    background-color: #eee;
    font-size: 1.1rem;
}

.category {
    background-color: #333;
    color: #ddd;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}

.category-remove {
    background-color: rgb(167, 50, 50);
    color: whitesmoke;
    border: 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}