<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ver preguntas - onesport</title>
        <link rel="stylesheet" href="/public/global.css" />
        <link rel="stylesheet" href="/public/formulario.css" />
    </head>
    <body>
        <div id="app">
            {{> header}}
            {{> adminheader}}
            <main>

                <div class="middle-container">

                    

                    <table class="app-table">
                        <tr>
                            <th>Correo Electronico</th>
                            <th>Asunto</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>

                        {{#each preguntas}}
                            <tr>
                                <td>{{email}}</td>
                                <td>{{asunto}}</td>
                                <td>{{descripcion}}</td>
                                <td>
                                    <div class="app-table-actions">
                                        <form onSubmit="return confirm('¿Se ha solucionado la pregunta?') " action="/admin/preguntas/eliminar" method="POST">
                                            <button class="app-table-action info" name="id" value="{{id}}">Confirmar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}

                    </table>
                </div>

            </main>
        </div>

    </body>
</html>