<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Producto - onesport</title>
        <link rel="stylesheet" href="/public/global.css" />
        <link rel="stylesheet" href="/public/producto/estilos.css" />
    </head>
    <body>
        <div id="app">
            {{> header}}
            <main>
                <div class="middle-container">
                    <div id="producto-images">
                        {{#with Imagens.[0]}}
                            <img src="/public/productos-img/{{url_imagen}}" alt="" />
                        {{/with}}
                    </div>
                    <div class="producto-info">
                        <div class="producto-titulo">
                            <h1>{{ nombre }}</h1>
                            <p>${{ precio }}</p>
                        </div>
                        <div class="producto-descripcion">
                            <p>{{descripcion}}</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>